[submodule "ontology"]
	path = ontology
	url = https://github.com/NCATS-Tangerine/beacon-ontology.git
[submodule "ReasonerAPI"]
	path = api/reasoner
	url = https://github.com/NCATS-Tangerine/NCATS-ReasonerStdAPI.git
